<div class="wrapper">
    <div class="largeWindow">
        <h1>Courses</h1>
        <button {{action "addCourse"}} class="button">Add Course</button> 
        <button {{action "editCourse"}} class="button">Edit Course</button><br/>
    </div>
</div>
{{outlet}}