<div class="wrapper">
    <div class="largeWindow">
        <h1>Home</h1>
        <button {{action "addHomework"}} class="button">Add Homework</button> 
        <button {{action "editHomework"}} class="button">Edit Homework</button>
    </div>
</div>
{{outlet}}