<div class="smallWindow">
    <h1>Login</h1>
    <input type="text" class="username" placeholder="Username"/><br>
    <input type="text" class="password" placeholder="Password"/><br>
    <button {{action "login"}} class="loginButton">Login</button><br>
    <button {{action "register"}} class="registerButton">Register</button>
</div>
{{outlet}}